<div class="container mx-auto">
  <header class="my-10">
    <h1 class="text-center">Sign In</h1>
  </header>

  <div class="mx-auto max-w-sm bg-white pt-16 px-12 pb-8">
    <%= form_for :login do |f| %>
      <div class="form-group">
        <%= f.label :email, class: "block uppercase tracking-wide text-grey-darker text-xs font-bold" %>
        <%= f.text_field :email, autofocus: true, class: "appearance-none block w-full bg-white text-grey-darker border border-grey-lighter rounded-sm py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey" %>
      </div>
      <div class="form-group">
        <%= f.label :password, class: "block uppercase tracking-wide text-grey-darker text-xs font-bold" %>
        <%= f.password_field :password, class: "appearance-none block w-full bg-white text-grey-darker border border-grey-lighter rounded-sm py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey" %>
      </div>
      <div class="form-group">
        <%= f.submit "Log In", class: "btn btn--indigo btn--block" %>
      </div>
    <% end %>
  </div>
</div>
