<% Meal.moments.each_value do |moment| %>
  <% meal = meals.find { |meal| meal.moment == moment } %>

  <div class="flex-1 p-2 md:m-2 bg-white rounded-sm shadow">
    <div class="flex items-end">
      <p class="uppercase text-grey-dark font-bold text-sm mr-2">
        <%= Meal.human_attribute_name("moment.#{moment}") %>
      </p>
      <% if meal %>
        <%= link_to edit_meal_path(meal), class: "text-indigo-dark" do %>
          <i class="fas fa-pen fa-sm"></i>
        <% end %>
      <% else %>
        <%= link_to new_meal_path(eaten_on: day, moment: moment), class: "text-indigo-dark" do %>
          <i class="fas fa-plus fa-sm"></i>
        <% end %>
      <% end %>
    </div>

    <div class="overflow-y-scroll <%= moment.include?('snack') ? 'h-12' : 'h-24' %>">
      <div class="text-xs">
        <% if meal %>
          <%= simple_format(meal.content) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
